body {
  background-color: orange;
  counter-reset: Serial;
}
.App {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
.user-avatar {
  height: 200px;
}

img {
  height: 150px;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
#nav-bar {
  background-color: aquamarine;
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  margin: 8px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Special Elite", cursive;
}
a:hover {
  color: blue;
  background-color: deeppink;
}

.auto-index td:first-child:before {
  counter-increment: Serial; /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}

table {
  border-style: solid;
  width: 100%;
}

tr,
th,
td,
table {
  border-style: solid;
  border-collapse: collapse;
}
hr {
  background-color: red;
  height: 0.5rem;
  border-color: red;
}

input,
select {
  width: 20rem;
  height: 2.75rem;
  margin: 2rem;
  padding-left: 0.45rem;
  font-size: 26px;
  border-radius: 10px;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50px;
  padding: 1rem;
  margin: 0.5rem;
}
h1 {
  background-color: greenyellow;
  padding: 2rem;
  font-family: "Rampart One", cursive;
}
.name {
  font-family: "Sacramento", cursive;
  color: blue;
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-family: "Special Elite", cursive;

  color: purple;
}
.previous-orders {
  font-family: "Special Elite", cursive;
  color: rgb(80, 27, 193);
  font-style: italic;
  font-size: 3rem;
}

button {
  background-color:lavenderblush;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
