.App {
  text-align: center;
}
.user-avatar{
  height:200px
}

img {
  height: 150px;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
#nav-bar {
  background-color: aquamarine;
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  margin: 8px;
}
a {
  text-decoration: none;
  color: black;
}